@media all and (min-width: 950px)
{
    main
    {
        display: grid;
        grid-template-areas:
        'a a b c'
        'd e e c';

        grid-auto-rows: 32vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        gap: 2em;
        row-gap: 2em;
        width:75%;
        height:auto;
        margin:15vh auto 0 auto;
    }

    #section1,#section2,#section3,#section4,#section5
    {
        width:auto;
        height: auto;
        margin:0;
    }
    
    #section1{grid-area: a;}
    #section2{grid-area: b;}
    #section3{grid-area: d;}
    #section4{grid-area: e;}
    #section5{grid-area: c;}
    
    .attribution {position:absolute; bottom:0; text-align: center; width:90%;}
}